In [4]:
import numpy as np
from scipy import stats
rng = np.random.default_rng()
sample1 = stats.uniform.rvs(size=100, random_state=rng)
sample2 = stats.norm.rvs(size=110, random_state=rng)
response = stats.ks_2samp(sample1, sample2)

In [8]:
sample1[:5]

array([0.75585537, 0.69294024, 0.27886451, 0.10731414, 0.32639086])

In [9]:
sample2[:5]

array([ 1.13808239, -0.53721018,  1.51249439, -0.76730746,  0.10145051])

In [10]:
response.pvalue

1.4622516077174367e-11

Anomalies in dataset
1. High Null Values
2. Outliers
3. Categorical variables check
4. data drift
5. target drift
6. concept drift

In [12]:
#read dataframe
import numpy as np
import pandas as pd


df = pd.read_csv('/config/workspace/artifact/2023-01-05_22:03:36/data_ingestion/Dataset/train.csv')

In [13]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,34,NaN,4.000000e+00,4.0,0.0,0.0,0.0,0.0,0.0,...,548.0,74.0,72.0,16.0,8.0,0.0,0.0,0.0,0.0,0.0
1,neg,0,NaN,1.000000e+01,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,neg,738,NaN,2.200000e+01,NaN,0.0,0.0,0.0,0.0,0.0,...,3154.0,1068.0,2196.0,3090.0,5556.0,15548.0,48.0,0.0,0.0,0.0
3,neg,41574,NaN,7.160000e+02,664.0,0.0,0.0,0.0,0.0,0.0,...,441266.0,210118.0,369886.0,370576.0,244098.0,117480.0,136356.0,586.0,0.0,0.0
4,neg,22,0.0,2.130706e+09,14.0,0.0,0.0,0.0,0.0,0.0,...,180.0,10.0,86.0,6.0,10.0,0.0,0.0,0.0,0.0,0.0

In [23]:
df.shape

(28950, 171)

In [20]:
drop_column_names = []

for column, missing_percentage in zip(df.isnull().mean().index, df.isnull().mean().values):
    if missing_percentage > 0.3:
        drop_column_names.append(column)

In [21]:
drop_column_names

['ab_000',
 'bk_000',
 'bl_000',
 'bm_000',
 'bn_000',
 'bo_000',
 'bp_000',
 'bq_000',
 'br_000',
 'cr_000']

In [25]:
new_df = df.drop(columns=drop_column_names)
new_df.shape

(28950, 161)